.headerSearch{
    height: 30px;
    background-color: azure;
    border: 3px solid yellow;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0px;
    border-radius: 5px;
    /* margin-left: 25px; */
    width: 100%;
    
}
.input{
    border: none;
    outline: none;
}
.headersearch_item{
    cursor: pointer;
}
.date{
    position: absolute;
    bottom:5px;
    z-index: 2;
    /* margin-right: 15px; */

}
.btn1{
    border: 1px solid black;
    background-color: rgb(210, 210, 202);
    border-radius: 20px;
}